<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ICON.SAP.API-20190423015436.mdf;Initial Catalog=aspnet-ICON.SAP.API-20190423015436;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SiteType" value="SAP_UAT" />

    <!-- SAP PM Config -->
    <!--<add key="rem_host" value="203.154.95.146" />
    <add key="rem_dbname" value="STD_PM_Production" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="Tr1n1ty@2017" />

    <add key="sap_dbserver" value="203.154.66.172" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="manager" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="http://b1.iconrem.com:30000" />
    <add key="sap_sld_address" value="https://b1.iconrem.com:40000" />
    <add key="sap_language" value="en" />

    <add key="ap_host" value="203.154.95.146" />
    <add key="ap_dbname" value="A_NEXT_AP" />
    <add key="ap_user" value="sa" />
    <add key="ap_password" value="Tr1n1ty@2017" />-->
    <!-- END SAP PM Config -->

    <!-- SAP Maneerin UAT Config -->
    <!--<add key="rem_host" value="phonset1.dyndns.org" />
    <add key="rem_dbname" value="CRMRE_UAT" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="Sa@2019" />

    <add key="sap_dbserver" value="phonset1.dyndns.org" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="manager" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="http://147.50.55.234:30000" />
    <add key="sap_sld_address" value="https://147.50.55.234:40000" />
    <add key="sap_language" value="en" />

    <add key="cm_host" value="phonset1.dyndns.org" />
    <add key="cm_port" value="5506"/>
    <add key="cm_dbname" value="icon_cm" />
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@2020" />-->

    <!--<add key="cm_host" value="203.154.175.91" />
    <add key="cm_dbname" value="construction_2019" />
    <add key="cm_user" value="iconcm" />
    <add key="cm_password" value="Ic0n12345" />-->
    <!-- END SAP CM PRD Config -->

    <!-- SAP Maneerin PRD Config -->
    <!--<add key="rem_host" value="phonset1.dyndns.org" />
    <add key="rem_dbname" value="CRMRE_Production" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="Sa@2019" />

    <add key="sap_dbserver" value="203.154.66.172" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="SBO_MNP" />
    <add key="sap_username" value="CM_Interface" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="http://b1.iconrem.com:30000" />
    <add key="sap_sld_address" value="https://b1.iconrem.com:40000" />
    <add key="sap_language" value="en" />

    <add key="cm_host" value="203.154.175.91" />
    <add key="cm_dbname" value="maneerin_2019" />
    <add key="cm_user" value="iconcm" />
    <add key="cm_password" value="Ic0n12345" />-->
    <!-- END SAP CM PRD Config -->

    <!-- SAP SOKEN PRD Config -->
    <!--<add key="rem_host" value="203.154.41.171,3314" />
    <add key="rem_dbname" value="Soken_PRD" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="gCrktdb0@!10" />

    <add key="sap_dbserver" value="203.154.41.171,3314" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="manager" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="203.154.41.171:30000" />
    <add key="sap_sld_address" value="https://203.154.41.171:40000" />
    <add key="sap_language" value="en" />

    <add key="cm_host" value="203.154.41.168" />
    <add key="cm_dbname" value="sokencm" />
    <add key="port" value="3306"/>
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@1234" />-->
    <!-- END SAP SOKEN PRD Config -->

    <!-- SAP SOKEN UAT Config -->
    <!--<add key="rem_host" value="203.154.41.171,3314" />
    <add key="rem_dbname" value="Soken_UAT" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="gCrktdb0@!10" />

    <add key="sap_dbserver" value="203.154.41.171,3314" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="manager" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="203.154.41.171:30000" />
    <add key="sap_sld_address" value="https://203.154.41.171:40000" />
    <add key="sap_language" value="en" />

    <add key="cm_host" value="203.154.41.168" />
    <add key="cm_dbname" value="sokencm_uat" />
    <add key="port" value="3306"/>
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@1234" />-->
    <!-- END SAP SOKEN PRD Config -->

    <!-- CM SAP The Choice UAT Config -->
    <!--<add key="rem_host" value="203.150.202.113" />
    <add key="rem_dbname" value="CRMRE_UAT" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="default@59" />

    <add key="sap_dbserver" value="203.150.202.113" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="manager" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="https://sap.thecreatorshq.com:30000" />
    <add key="sap_sld_address" value="https://sap.thecreatorshq.com:40000" />
    <add key="sap_language" value="en" />

    <add key="cm_host" value="203.150.202.108" />
    <add key="cm_dbname" value="cm_uat" />
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@2020" />-->
    <!--END CM Server Interface Config-->

    <!-- SAP The Choice PRD Config -->
    <!--<add key="rem_host" value="203.150.202.113" />
    <add key="rem_dbname" value="CRMRE_Production" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="default@59" />

    <add key="sap_dbserver" value="203.150.202.113" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="manager" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="https://rem.thecreatorshq.com:30000" />
    <add key="sap_sld_address" value="https://rem.thecreatorshq.com:40000" />
    <add key="sap_language" value="en" />


    <add key="cm_host" value="203.150.202.108" />
    <add key="cm_dbname" value="cm_prd" />
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@2020" />-->
    <!--END CM Server Interface Config-->

    <!-- SAP KKN UAT Config -->
    <!--<add key="rem_host" value="172.16.1.12" />
    <add key="rem_dbname" value="KKN_UAT" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="Ms@Kkn1con" />

    <add key="sap_dbserver" value="172.16.1.12" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="manager" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="http://WS-ICON-DB:30000" />
    <add key="sap_sld_address" value="https://WS-ICON-DB:40000" />
    <add key="sap_language" value="en" />


    <add key="cm_host" value="172.16.1.12" />
    <add key="cm_dbname" value="cm_prd" />
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@2020" />-->
    <!--END CM Server Interface Config-->

    <!-- SAP Proud UAT Config -->
    <add key="rem_host" value="203.154.95.146" />
    <add key="rem_dbname" value="STD_Dev_Merge" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="Tr1n1ty@2017" />

    <add key="sap_dbserver" value="sap.proudrealestate.co.th" />
    <add key="sap_dbservertype" value="MSSQL2017" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="rem_interface" />
    <add key="sap_password" value="P@ssw0rd!" />
    <add key="sap_license_server" value="http://sap.proudrealestate.co.th:30000" />
    <add key="sap_sld_address" value="https://sap.proudrealestate.co.th:40000" />
    <add key="sap_language" value="en" />


    <add key="cm_host" value="203.154.41.5" />
    <add key="cm_dbname" value="cm_uat" />
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@2020" />
    <!--END CM Server Interface Config-->
    
    
    <!--SAP Sathaporn UAT Config-->
    
    <!--<add key="rem_host" value="192.168.167.197" />
    <add key="rem_dbname" value="icon_log" />
    <add key="rem_user" value="sa" />
    <add key="rem_password" value="ERP@123" />

    <add key="sap_dbserver" value="192.168.167.197" />
    <add key="sap_dbservertype" value="MSSQL2016" />
    <add key="sap_companydb" value="" />
    <add key="sap_username" value="interface" />
    <add key="sap_password" value="1234" />
    <add key="sap_license_server" value="http://192.168.167.197:30000" />
    <add key="sap_sld_address" value="https://192.168.167.197:40000" />
    <add key="sap_language" value="en" />

    <add key="cm_host" value="192.168.167.197" />
    <add key="cm_dbname" value="cm_uat" />
    <add key="cm_user" value="root" />
    <add key="cm_password" value="Icon@2020" />-->
    <!--END Sathaporn Interface Config-->

  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>